@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #0F2027 20%, #203A43 100%);
}
.detail-container{
  font-family: 'Righteous', cursive;
  background: linear-gradient(to bottom, #7cbdd8 20%, #203A43 100%);
  height: 100vh;
  background-color: red;
  padding-left:2%;
  padding-right:2%;
  color:white;
}

.detail-container-header{
  text-align: center;
  color:'darkblue';
  padding-top:10px;
  padding-bottom:10px;
  font-size:24px;
}

img{
  border-radius: 10px;
}
